<div class="row">
  <h3 class="title">商品新規登録</h3>
  <%= render 'layouts/error_message', model: @item %>
</div>


<div class="row">
  <div class="item-form">
    <%= form_for([:admin, @item]) do |f| %>

      <div class="col-xs-5">
        <div class="field">

          <%= f.label :image do%>
          <%= attachment_image_tag(@item, :image,id: "preview", size: '400x300', fallback: "no_image.jpg") %>
          <% end %>
          <%= f.attachment_field :image, id: :item_img %>

        </div>
      </div>

      <div class="col-xs-6">
        <div class="field">
          <%= f.label :name, "商品名", style: "width: 110px;" %>
          <%= f.text_field :name, class: "form-control", style: "width: 300px;" %>
        </div>

        <div class="field label-top">
          <%= f.label :description, "商品説明", style: "width: 110px;" %>
          <%= f.text_area :description, class: "form-control", rows: 7, style: "width: 300px;" %>
        </div>

        <div class="field">
          <%= f.label :genre_id, "ジャンル", style: "width: 110px;" %>
          <%= f.collection_select :genre_id, Genre.where(status: "true"), :id, :name, include_blank: "選択してください" %>
        </div>

        <div class="field">
          <%= f.label :price, "税抜価格", style: "width: 110px;" %>
          <%= f.text_field :price, class: "form-control", style: "width: 300px;" %>
        </div>

        <div class="field">
          <%= f.label :status, "販売ステータス", style: "width: 110px;" %>
          <%= f.select :status, [["販売中", true], ["売切れ", false]] %>
        </div>

        <div class="actions text-right">
          <%= f.submit "新規登録", class: "btn-lg btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>