
 <p class="bg-warning">
         <h2>商品登録</h2>
         <%= form_for([:admin, @item]) do |f| %>

			<div class="field row">
			<%= f.label :商品名 %>
			<%= f.text_field :name, class: "col-xs-12" %>
			</div>

			<div class="field row">
			<%= f.label :商品説明 %>
			<%= f.text_field :description, class: "col-xs-12" %>
			</div>

			<div class="field row">
			<%= f.label :価格%>
			<%= f.text_field :price, class: "col-xs-12"  %>
			</div>

            <div class="field row">
            <%= f.label :ジャンル%>
		    <%= f.collection_select :genre_id, Genre.where(status: "true"), :id, :name, include_blank: "選択してください" %>
            </div>

			<div class="field row">
			<%= f.label :画像 %>
			<%= f.attachment_field :image %>
			</div>

			<div class="field row">
			<%= f.radio_button :status, true %>
		    <%= f.label :status ,"発売中" %>

		    <%= f.radio_button :status, false %>
		    <%= f.label :status ,"売り切れ" %>
			</div>

			<div class="actions row">
			<%= f.submit class: "btn btn-primary" %>
			</div>

		<% end %>
	    </p>
	    </div>