<div class="row">
	<div class="admin-search">
		<%= search_form_for @i, url: admin_item_search_path do |f| %>
		<%= f.text_field :name_cont, placeholder: '商品名を入力'%>
		<%= f.select :status_eq, {'発売中' => true, '販売停止中' => false}, include_blank: "販売ステータス" %>
		<%= f.submit "Search" %>
		<% end %>
	</div>
</div>

<%= render 'index', items: @items %>