<div class="form-group">
  <div class="col-sm-3">
    <%= f.label :名前 , class: "control-label" %>
  </div>
    (姓)<%= f.text_field :last_name, autofocus: true, autocomplete: "last_name" %>
    （名）<%= f.text_field :first_name, autocomplete: "first_name" %>
</div>

<div class="form-group">
  <div class="col-xs-3">
    <%= f.label :フリガナ , class: "control-label" %>
  </div>
    <span>(セイ)</span> <%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name" %>
         （メイ）<%= f.text_field :first_name_kana, autocomplete: "first_name" %>
  </div>

<div class="form-group">
  <div class="col-xs-3">
    <%= f.label :メールアドレス, class: "control-label" %>
  </div>
    <%= f.email_field :email, autocomplete: "email" %>
</div>

<div class="form-group">
  <div class="col-xs-3">
    <%= f.label :"郵便番号（ハイフンなし）", class: "control-label" %>
  </div>
    <%= f.text_field :postal_code, autocomplete: "postal_code" %>
</div>

<div class="form-group">
  <div class="col-xs-3">
    <%= f.label :住所, class: "control-label" %>
  </div>
    <%= f.text_field :address, autocomplete: "address",class: "col-xs-4"  %>
</div>

<div class="form-group">
  <div class="col-xs-3">
    <%= f.label :"電話番号（ハイフンなし）", class: "control-label" %>
  </div>
    <%= f.text_field :phone_number, autocomplete: "phone_number" %>
</div>