<div class="row">
  <div class="admin-order-list col-xs-10 col-xs-offset-1">
    <table class="table">
      <thead>
        <tr>
          <th>購入日時</th>
          <th>購入者</th>
          <th>注文個数</th>
          <th>注文ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% content.each do |order| %>
          <tr>
            <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order) %></td>
            <td><%= "#{order.user.last_name}#{order.user.first_name}" %></td>
            <td><%= order.order_items.all.sum(:item_count) %></td>
            <td><%= order.order_status %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= paginate content %>
  </div>
</div>