<div class="row">
  <div class="admin-search">
    <%= search_form_for @o, url: admin_orders_path, class: "admin-search-form" do |f| %>
      <%= f.text_field :user_last_name_or_user_first_name_cont, placeholder: '購入者検索' %>
      <%= f.date_field :created_at_gteq, include_blank: true %>~
      <%= f.date_field :created_at_lteq, include_blank: true %>
      <%= f.select :order_status_eq, {"入金待ち"=> 0, "入金確認"=> 1, "製作中"=> 2, "発送準備中"=> 3, "発送済み" => 4}, include_blank: "注文ステータス" %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
<div class="row">
  <h3 class="title">注文履歴一覧</h3>
</div>


<% if @orders.count == 0 %>
  <div class="text-center">
    <h3>注文履歴はありません。</h3>
  </div>
<% else %>
  <%= render 'index', content: @orders %>
<% end %>