<div class="container">
	<div class="row">
		<h3 class="title">マイページ</h3>
		<ul class="info">
			<li class="info-text col-xs-2"><strong>登録情報</strong></li>
			<li class="info-text"><%= link_to "編集する", edit_user_path, class: "btn btn-primary" %></li>
			<li class="info-text"><%= link_to "パスワードを変更する", edit_user_registration_path, class: "btn btn-primary" %></li>
		</ul>
	</div>

	<div class="row">
		<div class="user_info col-xs-6">
			<table class="table">
				<tr>
					<th>氏名</th>
					<td><%= @user.last_name%>　<%= @user.first_name %></td>
				</tr>
				<tr>
					<th>カナ</th>
					<td><%= @user.last_name_kana %>　<%= @user.first_name_kana %></td>
				</tr>
				<tr>
					<th>郵便番号</th>
					<td><%= @user.postal_code %></td>
				</tr>
				<tr>
					<th>住所</th>
					<td><%= @user.address %></td>
				</tr>
				<tr>
					<th>電話番号</th>
					<td><%= @user.phone_number %></td>
				</tr>
				<tr>
					<th>メールアドレス</th>
					<td><%= @user.email %></td>
				</tr>
			</table>
		</div>
	</div>

	<div class="row">
		<ul class="info">
			<li class="info-text col-xs-2"><strong>配送先</strong></li>
			<li class="info-text"><%= link_to "一覧を見る", user_addresses_path(@user), class: "btn btn-primary" %></li>
		</ul>
		<!-- 注文一覧@userの追加必要 -->
		<ul class="info">
			<li class="info-text col-xs-2"><strong>注文履歴</strong></li>
			<li class="info-text"><%= link_to "一覧を見る", orders_path(@user), class: "btn btn-primary" %></li>
		</ul>
	</div>
</div>