<div class="container">
	<div class="row">

		<h2>パスワードをお忘れですか?</h2>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= render "devise/shared/error_messages", resource: resource %>
		<div class="horizontal">
	        <div class="form-group">
	          <div class="col-xs-2">
	           <%= f.label :メールアドレス, class: "control-label" %>
	          </div>
	            <div class="col-xs-3"><%= f.email_field :email, autocomplete: "email",class: "form-control" %></div>
	        </div>
		</div>
			<div class="actions">
       			 <%= f.submit "メールを送信する", class: "btn btn-warning" %>
      		</div>

		<% end %>

		<div class="login-link">
	    <h4 class="login-title">既に登録済みの方</h4>
	      <p class="sign-up-text"><%= link_to "こちら",new_user_session_path, class: "kotira" %> からログインしてください。</p>
	      <h4 class="login-title">登録がお済みではない方</h4>
	    　<p class="sign-up-link"><%= link_to "こちら",new_user_registration_path, class: "kotira" %>から新規登録を行ってください。</p>
	   </div>
	</div>
</div>

