<div class="row">
  <h3 class="title">注文情報確認</h3>
</div>

<div class="row">
  <div class="order-item-list col-xs-8">
    <table class="table">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
        </tr>
      </thead>
      <tbody>
        <% current_user.cart_items.each do |cart_item| %>
          <tr>
            <td><%= attachment_image_tag cart_item.item, :image, size: "70x50", fallback: "no_image.jpg" %> <%= cart_item.item.name %></td>
            <td><%= (cart_item.item.price * 110 / 100).to_s(:delimited) %>円</td>
            <td><%= cart_item.item_count %></td>
            <td><%= (cart_item.item.price * cart_item.item_count * 110 / 100).to_s(:delimited) %>円</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="order-price-list col-xs-3">
    <table class="table">
      <tr>
        <th>送料</th>
        <td><%= @order.shipping %>円</td>
      </tr>
      <tr>
        <th>商品合計</th>
        <td><%= @item_total_price.to_s(:delimited) %>円</td>
      </tr>
      <tr>
        <th>請求金額</th>
        <td><%= @order.billing_amount.to_s(:delimited) %>円</td>
      </tr>
    </table>
  </div>
</div>

<div class="row">
  <h4 class="sub-title col-xs-2">支払方法</h4>
  <div class="confirm col-xs-10">
    <%= @order.payment_method %>
  </div>
</div>

<div class="row">
  <h4 class="sub-title col-xs-2">お届け先</h4>
  <div class="confirm col-xs-10">
    <%= "#{@order.ordered_postal_code} #{@order.ordered_address}" %><br>
    <%= @order.ordered_receiver_name %>
  </div>
</div>

<div class="order-form text-center">
  <%= form_with(model: @order, local: true) do |f| %>
    <%= f.hidden_field :user_id, value: @order.user_id %>
    <%= f.hidden_field :payment_method, value: @order.payment_method %>
    <%= f.hidden_field :billing_amount, value: @order.billing_amount %>
    <%= f.hidden_field :ordered_postal_code, value: @order.ordered_postal_code %>
    <%= f.hidden_field :ordered_address, value: @order.ordered_address %>
    <%= f.hidden_field :ordered_receiver_name, value: @order.ordered_receiver_name %>
    <div class="actions">
      <%= f.submit "購入を確定する", class: "btn-lg btn-success" %>
    </div>
  <% end %>
</div>
