<h3>注文情報入力</h3>

<div class="order-form">
  <%= form_with url: orders_confirm_path, local: true do |f| %>

    <p>支払方法</p>
    <div class="field">
      <%= f.radio_button :payment_method, "credit" %>
      <%= f.label :payment_method, "クレジットカード", value: "credit" %><br>
      <%= f.radio_button :payment_method, "bank" %>
      <%= f.label :payment_method, "銀行振込", value: "bank" %>
    </div>

    <p>お届け先</p>
    <div class="field">
      <div class="user-address">
        <%= f.radio_button :address_id, 0 %>
        <%= f.label :address_id, "ご自身の住所", value: 0 %><br>
        <%= "#{current_user.postal_code} #{current_user.address}" %><br>
        <%= "#{current_user.last_name}#{current_user.first_name}" %>
      </div>

      <div class="registration-address">
        <%= f.radio_button :address_id, 1 %>
        <%= f.label :address_id, "登録済住所から選択", value: 1 %><br>
        <%= f.select :address_select, options_for_select(current_user.addresses.map{ |address| ["#{address.postal_code} #{address.address} #{address.receiver_name}", address[:id]] }) %>
        <!--current_user.addresses.all.map { |address| [address.postal_code, address.address, address.receiver_name] } -->
        <!--current_user.addresses.all.map { |address| ["#{address.postal_code} #{address.address} #{address.receiver_name}"] }-->
      </div>

      <div class="new-address">
        <%= f.radio_button :address_id, 2 %>
        <%= f.label :address_id, "新しいお届け先", value: 2 %><br>
        <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
        <%= f.text_field :postal_code %><br>
        <%= f.label :address, "住所" %>
        <%= f.text_field :address %><br>
        <%= f.label :receiver_name, "宛名" %>
        <%= f.text_field :receiver_name %>
      </div>

    </div class="actions">
      <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
    </div>

  <% end %>
</div>