
<table class="table">
<thead>
<tr>
<th>商品名</th>
<th>単価（税込）</th>
<th>数量</th>
<th>小計</th>
</tr>
</thead>

<tbody>
<% @cart_items.each do |cart_item| %>
<tr>
<td><%= cart_item.item.name %></td>
<td><%= cart_item.item.price %></td>
<td></td>   
<td> 
<%= form_for cart_item do |f| %>
<%= f.select :item_count,(1..50) %>
<%= f.submit "変更する"%>
<% end %>
<% end %>
</td>

<td>
</tr>

</tbody>
</table>
