<div class="container">
	<div class="row">
   		<%= render 'error_message', address:@address %>
		<h3 class="title">配送先登録/一覧</h3>
		<%= form_for ([@user, @address]) do |f| %>
			<div class="form-horizontal">

			    <div class="form-group">
			      <div class="col-xs-3">
			         <%= f.label :postal_code, "郵便番号（ハイフンなし）", class: "control-label" %>
			       </div>
			          <%= f.text_field :postal_code %>
			    </div>

			     <div class="form-group">
			        <div class="col-xs-3">
			          <%= f.label :address, "住所", class: "control-label" %>
			        </div>
			          <%= f.text_field :address, class: "col-xs-4" %>
			     </div>

			    <div class="form-group">
				    <div class="col-xs-3">
				     		<%= f.label :receiver_name, "宛名", class: "control-label" %>
			    	</div>
			     		<%= f.text_field :receiver_name %>
			      	<%= f.submit "登録する", class: "btn btn-success col-xs-offset-5" %>
			   	</div>
			</div>
		<% end %>

		<div class="addresses-list">
		<table>
			<thead>
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @addresses.each do |address|%>
					<tr>
						<td><%= address.postal_code %></td>
						<td><%= address.address %></td>
						<td><%= address.receiver_name %></td>
						<td><%= link_to "編集する",edit_user_address_path(@user,address), class: "button btn btn-primary" %>
						    <%= link_to "削除する", user_address_path(@user,address), method: :delete, "data-confirm" => "本当に削除しますか？", class: "button btn btn-danger" %>
						</td>
						</div>
					</tr>
				<% end %>
			</tbody>
		</table>
		</div>
	</div>
</div>