<div class="container">
	<div class="row">
   		<%= render 'error_message', address:@address %>
		<h3 class="title">配送先登録/一覧</h3>
		<%= render 'form', user: @user, addresses: @addresses %>

		<div class="addresses-list">
		<table>
			<thead>
				<tr>
					<th>郵便番号</th>
					<th>住所</th>
					<th>宛名</th>
					<th></th>
				</tr>
			</thead>

			<tbody>
				<% @addresses.each do |address|%>
					<tr>
						<td><%= address.postal_code %></td>
						<td><%= address.address %></td>
						<td><%= address.receiver_name %></td>
						<td><%= link_to "編集する",edit_user_address_path(@user,address), class: "button btn btn-primary" %>
						    <%= link_to "削除する", user_address_path(@user,address), method: :delete, "data-confirm" => "本当に削除しますか？", class: "button btn btn-danger" %>
						</td>
						</div>
					</tr>
				<% end %>
			</tbody>
		</table>
		</div>
	</div>
</div>