
   <div class="row">
   	<div class="col-xs-3">

	   		<table class="table table-hover table-inverse">
				 <thead>
				 	<tr>
						<th>ジャンル検索</th>
					</tr>
				 </thead>
				 <tbody>
					<% @genre.each do |genre| %>
					<tr>
						<th><%= link_to genre_show_path(genre) do %>
							<%= genre.name %>
							<% end %></th>
		   		    <% end %>
		   		    </tr>
		   		 </tbody>
	   		</table>
    </div>






        <div class="col-xs-9">
				<h3 class="title">商品一覧</h3>
				<!--item一覧 -->
				<table class="table table-hover table-inverse">
					<thead>
						<tr>
							<th>商品画像</th>
							<th>商品名</th>
							<th>商品価格</th>

						</tr>
					</thead>

					<tbody>
						<% @items.each do |item| %>
						<tr>
							<td><%= attachment_image_tag(item, :image_id, size: "50x50", fallback: "no_image.jpg") %></td>
							<td><%= link_to item_path(item) do %>
								<%= item.name %>
								<% end %></td>
							<td><%= item.price %>円</td>
							<% end %>
						</tr>
					</tbody>
				</table>
			</div>
</div>


