<div class="row">
	<div class="col-xs-3">
		<%= render 'genres/sidebar', genres: @genres %>
	</div>

	<div class="col-xs-9">
		<h3 class="title">検索結果<span>（（全<%= @items.total_count %>件中/ <%= @items.count %>件表示）</span></h3>
		<%= render 'item_index' , items: @items %>
	</div>
	<%= paginate @items %>
</div>
