<div class="row">
  <div class="col-xs-3">
    <%= render 'genres/sidebar', genres: @genres %>
  </div>

  <div class="col-xs-9">
    <div class="item-info row">
      <div class="col-xs-6">
        <div class="item-info-image">
          <%= attachment_image_tag(@item, :image, size: '400x300', fallback: "no_image.jpg") %>
        </div>
      </div>
      <div class="col-xs-6">
        <h3 class="item-info-name">
          <%= @item.name %>
        </h3>
        <div class="item-info-description">
          <p><%= @item.description %></p>
        </div>
        <div class="item-info-price">
          <h4><%= "¥#{(@item.price * 110 / 100).to_s(:delimited)}" %><span>（税込）</span></h4>
        </div>
      </div>
    </div>
    <div class="item-count-form text-right">
      <%= form_for @cart_item do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <span id="item-count">個数</span>
        <%= f.select :item_count, (1..50), class: "item-count-select" %>
        <%= f.submit "カートに入れる", class: "btn btn-primary" %>
      <% end %>
      <%= link_to "レビューを書く", new_item_post_path(@item) %>
      <%= link_to "レビューを見る", item_posts_path(@item) %>
    </div>
  </div>
</div>




