
<div class = "container">
  <div class="row">
    <div class="col-xs-5">
      <h3 class="title">商品詳細</h3>
    </div>
  </div>
</div>


<div class = "container">
  <div class="row">

    <div class="col-xs-2">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genre.each do |genre| %>
          <tr>
            <th style="border: none; background-color: white;">
              <%= link_to genre_show_path(genre) do %>
                <%= genre.name %>
              <% end %>
            </th>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-xs-3">
      <%= attachment_image_tag(@item, :image, :fill, 50, 50, fallback: "no_image.jpeg") %>
    </div>

    <div class="col-xs-7">

      <table class="table" style="border: none;">
        <tbody style="border: none;">
          <tr style="border: none;">
            <th style="border: none; background-color: white;"></th>
            <td style="border: none;"> <%= @item.name %></td>
          </tr>
          <tr style="border: none;">
            <th style="border: none; background-color: white;"></th>
            <td style="border: none;"><%= @item.description %></td>
          </tr>
          <tr style="border: none;">
            <th style="border: none; background-color: white;"></th>
            <td style="border: none;"><%= @item.price %>円</td>
          </tr>
        </tbody>
      </table>
    </div>

    <%= form_for @cart_item do |f| %>
      <%= f.hidden_field :item_id, value: @item.id %>
      <%= f.select :item_count, (1..50) %>
      <%= f.submit "カートに入れる", class: "button btn btn-primary" %>
    <% end %>



  </div>
</div>



