
<% @posts.each do |post| %>
    <div class="row posts">
      </div>
      <div class="col-md-6 mb-3">
        <div class=" posts-content">
          <h4 class="mb-3">評価：<%= post.rate %>点 | <%= post.title %></h4>

          <!--星評価-->
         <div id="star-rate-<%= post.id %>"></div>
          <script>
          $('#star-rate-<%= post.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= post.rate %>,
          });
          </script>
        <!--/星評価-->

          <p><%= post.title %></p>
        </div>
      </div>
      <div class="col-md-4">
          <div class="posts-product">
            <p><%=  post.body %></p>
          </div>
      </div>
      <div class="col-md-12 edit-button">
        <% if current_user == post.user %>
      </div>
    </div>
 <% end %>
 <% end %>