<div class="col-xs-offset-1 col-xs-8", style="margin-top: 20px;">
		<table class="table">
			<thead>
				<tr>
					<th>会員ID</th>
					<th>氏名</th>
					<th>メールアドレス</th>
					<th>ステータス</th>
				</tr>
			</thead>

			<tbody>
				<% users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= link_to admin_user_path(user) do %>
						<%= user.last_name %><%= user.first_name %>
						<% end %>
					</td>
					<td><%= user.email %></td>
					<td><% if user.status == true %>
							<p>有効</p>
						<% else %>
							<p>退会</p>
						<% end %>
					</td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<div class="col-xs-offset-5"><%= paginate users %></div>