<div class="container">
	<div class="row">
		<h3 class="title"><%= @user.last_name %><%= @user.first_name %>さんの会員情報編集</h3>
		<%= render 'layouts/error_message', model: @user %>

		<%= form_for [:admin,@user] do |f| %>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-2">会員ID</label>
					<div class="col-xs-2"><%= @user.id %></div>
				</div>
		        <div class="form-group">
		          <div class="col-xs-2">
		            <%= f.label :last_name, "名前" , class: "control-label" %>
		          </div>
		            <div class="col-xs-2"><%= f.text_field :last_name,class: "name form-control" %></div>
		            <div class="col-xs-2"><%= f.text_field :first_name, class: "form-control" %></div>
		        </div>

		        <div class="form-group">
		          <div class="col-xs-2">
		            <%= f.label :last_name_kana, "フリガナ" , class: "control-label" %>
		          </div>
		            <div class="col-xs-2"><%= f.text_field :last_name_kana, class: "form-control" %></div>
		            <div class="col-xs-2"><%= f.text_field :first_name_kana, class: "form-control" %></div>
		          </div>

		        <div class="form-group">
		          <div class="col-xs-2">
		            <%= f.label :email, "メールアドレス", class: "control-label" %>
		          </div>
		            <div class="col-xs-2"><%= f.email_field :email, class: "form-control"%></div>
		        </div>

		        <div class="form-group">
		          <div class="col-xs-2">
		            <%= f.label :postal_code, "郵便番号", class: "control-label" %>
		          </div>
		            <div class="col-xs-2"><%= f.text_field :postal_code, class: "form-control" %></div>
		        </div>

		        <div class="form-group">
		          <div class="col-xs-2">
		            <%= f.label :address, "住所", class: "control-label" %>
		          </div>
		            <div class="col-xs-5"><%= f.text_field :address,class: "form-control" %></div>
		        </div>

		        <div class="form-group">
		          <div class="col-xs-2">
		            <%= f.label :phone_number, "電話番号", class: "control-label" %>
		          </div>
		            <div class="col-xs-2"><%= f.text_field :phone_number,class: "form-control" %></div>
		    	</div>

		    	<div class="form-group">
		    		<label class="col-xs-2">会員ステータス</label>
		    		<div class="col-xs-1">
		    			<%= f.radio_button :status, true%>
		    			<%= f.label :status,"有効", value: true, class: "radio-label label-size" %>
		    		</div>
		    		<div class="col-xs-2">
		    			<%= f.radio_button :status, false %>
		    			<%= f.label :status, "退会済み", value: false, class: "radio-label label-size" %>
		    		</div>
		    	</div>

		    	<div class="from-group">
		    		<%= f.submit "変更を保存する", class: "btn btn-primary" %>
		    	</div>
		    </div>
		<% end %>
	</div>
</div>