<div class="row">
	<div class="admin-search">
		<%= search_form_for @u, url: admin_users_path do |f| %>
		<%= f.text_field :last_name_or_first_name_cont, placeholder: '名前を入力'%>
		<%= f.check_box :status_true, {}, check_value = "true", uncheck_value = "" %>有効/
		<%= f.check_box :status_false, {}, check_value = "true", uncheck_value = "" %>退会
		<%= f.submit "Search" %>
		<% end %>
	</div>
</div>
<div class="container">
	<div class="row">
		<h3 class="title">会員一覧</h3>
	</div>
	<div class="row">
		<%if @search_users %>
		 	<%= render 'index', users: @search_users %>
		<% else %>
			<%= render 'index', users: @users %>
		<% end %>
	</div>
</div>