<div class="row">
	<div class="admin-search">
		<%= search_form_for @u, url: admin_users_path, class: "admin-search-form" do |f| %>
		<%= f.text_field :last_name_or_first_name_cont, placeholder: '名前を入力'%>
		<%= f.select :status_eq, {'有効' => true, '退会' => false}, include_blank: "会員ステータス" %>
		<%= f.submit "Search" %>
		<% end %>
	</div>
</div>
<div class="container">
	<div class="row">
		<h3 class="title">会員一覧</h3>
	</div>
	<div class="row">
		<% if @users.count == 0 %>
			<div class="text-center">
		    <h3>検索に一致するものはありませんでした。</h3>
		  </div>
		<% else %>
			<%= render 'index', users: @users %>
		<% end %>
	</div>
</div>