<div class="container">
	<div class="row">
		<h3 class="title"><%= @user.last_name %><%= @user.first_name %>さんの会員詳細</h3>

		<table class="client col-xs-offset-1">
			<tr>
				<th>顧客ID</th>
				<td><%= @user.id %>
				<% if @user.status == true %>
						<div class="user-true">有効会員</div>
					<% else %>
						<div class="user-false">退会会員</div>
					<% end %>
				</td>
			</tr>
			<tr>
				<th>氏名</th>
				<td><%= @user.last_name %>　
				<%= @user.first_name%></td>
			</tr>
			<tr>
				<th>フリガナ</th>
				<td><%= @user.last_name_kana %>　
				<%= @user.first_name_kana%></td>
			</tr>
			<tr>
				<th>郵便番号</th>
				<td><%= @user.postal_code %></td>
			</tr>
			<tr>
				<th>住所</th>
				<td><%= @user.address %></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><%= @user.phone_number %></td>
			</tr>
			<tr>
				<th>メールアドレス</th>
				<td><%= @user.email %></td>
			</tr>
		</table>

		<div class="">
			<%= link_to "編集する", edit_admin_user_path(@user), class: "btn btn-primary col-xs-offset-1" %>　
			<%= link_to "注文履歴一覧を見る", admin_orders_user_index_path(user_id: @user.id), class: "btn btn-primary" %>
		</div>

	</div>
</div>