<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/6c4c9f280d.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="navbar-fixed-top">
      <div class="container">
        <div class="row">
          <div class="header-logo col-xs-3">
            <% unless admin_signed_in? %>
              <%= link_to root_path do %>
                <%= image_tag "logo.png", class: "logo" %>
              <% end %>
            <% else %>
              <%= link_to admin_root_path do %>
                <%= image_tag "logo.png", class: "logo" %>
              <% end %>
            <% end %>

          </div>
          <div class="col-xs-9">
            <div class="row header-top">
              <nav class="nav navbar-nav navbar-right">
                <ul class="nav-pills">
                  <% if user_signed_in? %>
                    <li class="welcom-message">ようこそ、<%= "#{current_user.last_name} #{current_user.first_name}" %>さん！</li>
                    <li>
                      <%= link_to user_path(current_user), class: "header-link" do %><i class="fas fa-user"></i> マイページ<% end %>
                    </li>
                    <li>
                      <%= link_to items_path, class: "header-link" do %><i class="fas fa-birthday-cake"></i> 商品一覧<% end %>
                    </li>
                    <li>
                      <%= link_to cart_items_path, class: "header-link" do %><i class="fas fa-shopping-cart"></i> カート<% end %>
                    </li>
                    <li>
                      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-link" %>
                    </li>
                  <% elsif admin_signed_in?%>
                    <li><%= link_to "商品一覧", admin_items_path, class: "header-link" %></li>
                    <li><%= link_to "会員一覧", admin_users_path, class: "header-link" %></li>
                    <li><%= link_to "注文履歴一覧", admin_orders_path, class: "header-link" %></li>
                    <li><%= link_to "ジャンル一覧", admin_genres_path, class: "header-link" %></li>
                    <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "header-link"%></li>
                  <% else %>
                    <li>
                      <%= link_to home_about_path, class: "header-link" do %><i class="fas fa-store-alt"></i> 店舗情報<% end %>
                    </li>
                    <li>
                      <%= link_to items_path, class: "header-link" do %><i class="fas fa-birthday-cake"></i> 商品一覧<% end %>
                    </li>
                    <li>
                      <%= link_to "新規登録", new_user_registration_path, class: "header-link" %>
                    </li>
                    <li>
                      <%= link_to "ログイン", new_user_session_path, class: "header-link" %>
                    </li>
                  <% end %>
                </ul>
              </nav>
            </div>
          </div>
          <% if admin_signed_in? %>
          <div class="row header-bottom">
            <div class="search-form text-right">
              <%= search_form_for @q, url: admin_item_search_path do |f| %>
                <%= f.text_field :name_cont, placeholder: 'Search'%>
              <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <div class="main-body container">
      <p class="flash" id="notice"><%= flash[:notice] %></p>
      <p class="flash" id="success"><%= flash[:success] %></p>
      <p class="flash" id="alert"><%= flash[:alert] %></p>
      <p class="flash" id="error"><%= flash[:error] %></p>
      <%= yield %>
    </div>

    <footer>
      <div class="footer-top"></div>
      <div class="footer-bottom text-center">
        <p><small>&copy;</small> Nagano_Cake Co. Ltd.</p>
      </div>
    </footer>

  </body>
</html>

