<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <nav class="nav navbar-nav navbar-left">
          <span>Logo</span>
        </nav>
        <nav class="nav navbar-nav navbar-right">
          <ul class="nav-pills">
            <% if user_signed_in? %>
              <li class="header-text">ようこそ、<%= "#{current_user.last_name} #{current_user.first_name}" %>さん！</li>
              <li><%= link_to "マイページ", user_path(current_user), class: "btn btn-default" %></li>
              <li><%= link_to "商品一覧", root_path, class: "btn btn-default" %></li>
              <li><%= link_to "カート", cart_items_path, class: "btn btn-default" %></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-default" %></li>
            <% elsif admin_signed_in?%>
              <li><%= link_to "商品一覧", admin_items_path, class: "btn btn-default" %></li>
              <li><%= link_to "会員一覧", admin_users_path, class: "btn btn-default" %></li>
              <li><%= link_to "注文履歴一覧", admin_orders_path, class: "btn btn-default" %></li>
              <li><%= link_to "ジャンル一覧", admin_genres_path, class: "btn btn-default" %></li>
              <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "btn btn-default"%></li>
            <% else %>
              <li><%= link_to "店舗情報", home_about_path, class: "btn btn-default" %></li>
              <li><%= link_to "商品一覧", root_path, class: "btn btn-default" %></li>
              <li><%= link_to "新規登録", new_user_registration_path, class: "btn btn-default" %></li>
              <li><%= link_to "ログイン", new_user_session_path, class: "btn btn-default" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="main-body container">
      <p class="flash" id="notice"><%= flash[:notice] %></p>
      <p class="flash" id="success"><%= flash[:success] %></p>
      <p class="flash" id="alert"><%= flash[:alert] %></p>
      <p class="flash" id="error"><%= flash[:error] %></p>
      <%= yield %>
    </div>

    <footer>
      <div class="footer-top"></div>
      <div class="footer-bottom text-center">
        <p><small>&copy;</small> Nagano_Cake Co. Ltd.</p>
      </div>
    </footer>
  </body>
</html>

